{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/x-icon" href={% static "img/icon.ico" %}>
    <link rel="stylesheet" href={% static "css/base.css" %}>
    {% block extra_css %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
<body>
    <nav class="navbar">
        <div class="nav-left">
            <ul class="nav-links-left">
                <li><a href={% url "index" %}>Home</a></li>
            </ul>
            <form action="#" method="get" class="search-form">
                <input type="text" name="q" placeholder="Search for a book..." class="search-input">
                <button type="submit" class="search-button">Search</button>
            </form>
        </div>

        <div class="logo">
             <p class="logo-p">Bookify</p>
        </div>

        <div class="nav-right">
            <ul class="nav-links-right">
                <li><a href="#">Upload</a></li>
                <li><a href="#">My Profile</a></li>
            </ul>
        </div>
    </nav>
    {% block content %}{% endblock %}
</body>
</head>