{% extends "bookify/base.html" %}
{% load static %}
{% block title %}{{ book.name }} - Book Details{% endblock %}
{% block extra_css %}<link rel="stylesheet" href={% static "css/book_detail.css" %}>{% endblock %}

{% block content %}
<div class="content-container">
    <h1 class="book-title">{{ book.name }}</h1>
    <div class="book-detail">
        <img src="{{ book.cover.url }}" alt="{{ book.name }} cover" class="book-cover">
        <div class="book-info">
            <p><strong>Author:</strong> {{ book.author }}</p>
            <p><strong>Description:</strong> {{ book.description }}</p>
            <p><a href="{{ book.file.url }}" class="download-link" download>Download Book</a></p>
        </div>
    </div>
    {% if book.reviews.all %}
    
    <div class="review-list">
        {% for review in book.reviews.all %}
            <div class="review-item">
                <p><strong>{{ review.creator }}:</strong> {{ review.text }}</p>
            </div>
        {% endfor %}
    </div>
{% else %}
    <p>No reviews yet. Be the first to add one!</p>
{% endif %}

<div class="review-form-container">
    <h3 class="add-review-title">Add Your Review</h3>
    <form method="post" class="review-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="submit-review-button">Submit Review</button>
    </form>
</div>
</div>
{% endblock %}